<div class="modal-header">
    <h4 class="modal-title">Delete Todo</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('clicked on cross button')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      
    </div>
    
    <p>Do you really want to delete Todo</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="performDelete()">YES</button>
    <button type="button" class="btn btn-success" (click)="activeModal.dismiss('No button clicked')">NO</button>
  </div>
  