<header>
  <div class="container">
    <div class="header">
      <div class="logo">
        <h3>
          <a [routerLink]="['/todos-list']">TODOS APP Logo</a>
      </h3>
      </div>
      <div class="nav-links">
         <ul>
           <li><a [routerLink]="['/add-edit']">Add Edit</a></li>
         </ul>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

<footer>
  <div class="container">
    <p>Developed with ♥ on Angular. By <a href="https://twitter.com/raju_jeelaga">@raju_jeelaga.</a> <a href="https://github.com/raju-jeelaga/my-todos-app">Github Repo</a></p>
  </div>
</footer>